.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
}

.aboutContainer > * {
    text-align: center;
    color: #222;
}

.aboutTitle {
    font-family: serif;
}

.aboutLink {
    text-decoration: none;
    color: transparent;
    margin-bottom: 20px;
}