.projects-wrapper {
    height: auto;
    width: 75%;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

@media (max-width: 750px) {
    .projects-wrapper {
        width: 90%;
    }
}

.project {
    width: 100%;
    background-color: var(--proj);
    padding-top: 10px;
    padding-left: 10px;
}

.project:hover {
    box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
    transform: scale(1.005);
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkbar {
    padding-right: 50px;
    display: flex;
    flex-direction: column nowrap;
}

.projects-title {
    margin-top: 0;
    width: auto;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--textNormal);
}
@media (max-width: 750px) {
    .projects-title {
        font-size: 1.5em;
    }
}

.project-title {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px;
    letter-spacing: 0.5px;
    line-height: 1.4em;
    color: var(--textNormal);
}

.project-description {
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 8px;
    color: var(--textNormal);
}

.tagBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
}

.project-tags {
    font-size: 0.7em;
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    color: var(--textNormal);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: var(--bg);
    border: 1px solid var(--bg);
    border-radius: 3px;
}

.breaker {
    padding-top: 20px;
    margin-bottom: 35px;
}