

.projects-wrapper {
    height: auto;
    width: 70%;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

@media (max-width: 750px) {
    .projects-wrapper {
        width: 80%;
    }
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkbar {
    padding-right: 50px;
    display: flex;
    flex-direction: column nowrap;
}

.projects-title {
    width: auto;
    font-size: 1.6em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--textNormal);
}

.project-title {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 0;
    letter-spacing: 0.5px;
    line-height: 1.4em;
    color: var(--textNormal);
}

.project-description {
    font-size: 0.9em;
    margin-bottom: 0;
    color: var(--textNormal);
    
}

.breaker {
    padding-top: 20px;
    margin-bottom: 35px;
    width: 50%;
    border-bottom: 1.5px solid var(--hr);
}